*:root{
  --topnav-background-color: #6F6AF7;
}

* {
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.topnav{
  width: 100vw;
  height: 3vh;
  overflow: hidden;
  background-color: var(--topnav-background-color);
  padding: 20px 10px;
  position: fixed;
}



.left-image{
  float: left;
  margin-left: 2vw;
}

.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5vh;
  border-radius: 4px;
  margin-top: 1vh;
  margin-left: 7vw;
}

.first-section{
  width: 100vw;
  display: flex;
}

.first-section-left{
  flex: 25%;
  margin-top: 15vh;
  margin-left: 5vw;
}

.first-section-left img{
  height: 50vh;
}

.first-section-right{
  flex: 75%;
  margin-top: 15vh;
  margin-right: 5vw;
  margin-left: 2vw;
}

.first-section-right textarea{
  width: 100%;
  height: 50vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #E5D8FF;
  font-size: 15px;
  resize: none;
}

.inline-cards{
  width: 100vw;
  display: flex;
  margin-top: 10vh;
}

.label{
  
  color: white;
  padding: 8px;
  width: 16vw;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px lightgray
}

.question{
  margin-left: 5vw;
  background-color: #929DFF;
  padding-left: 2vw;
  font-size: 25px;
}
.answer{
  margin-left: 5vw;
  background-color: #734CF2;
  padding-left: 2vw;
  font-size: 25px;
}
.participate{
  margin-left: 5vw;
  background-color: #D288FF;
  padding-left: 2vw;
  font-size: 25px;
}
.passed{
  margin-left: 5vw;
  background-color: #000000;
  padding-left: 2vw;
  font-size: 25px;
}

.footer{
  width: 100vw;
  height: 70vh;
  margin-bottom: 10vh;
  display: flex;
  border-radius: 8px;
}

.footer-left{
  flex: 25%;
  margin-top: 10vh;
  margin-left: 5vw;
  background-color: #483EFF;
}

.button{
  background-color: white; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 15vw;

  white-space: normal;
  word-wrap: break-word;

  margin-left: 2vw;
  margin-top: 8vh;
}

.button1{
  background-color: #BCE0F6;
  color: #000000;
  font-family: 'DM Sans';
}

.button2{
  background-color: #483EFF;
  border-style: solid;
  border-color: white;
}

.button3{
  background-color: #483EFF;
  border-style: solid;
  border-color: white;
}

.footer-right{
  flex: 75%;
  margin-top: 10vh;
  margin-right: 5vw;
  background-color: #483EFF;
}

.card{
  background-color: white;
  margin-top: 4vh;
  margin-right: 2vw;
  border-radius: 8px;
  height: 50vh;
}

.card p{
  margin-left: 5vw;
}

.card h2{
  margin-left: 2vw;
}

.next-button{
  background-color:black; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  float: right;
  font-size: 16px;
  width: 10vw;

  white-space: normal;
  word-wrap: break-word;

  margin-right: 4vw;
}

.right-image{
  float: right;
  margin-right: 5vw;
  height: 3vh;
}

.help-image{
  position: fixed;
  align-self: center;
  height: 15vh;
  margin-left: 87vw;
  z-index: 1;
}

.social{
  position: fixed;
  top: 0;
  height: 15vh;
  z-index: 10;
  margin-top: 30vh;
  margin-left: 95vw;
}


.menu-image{
  height: 0.7vh;
  margin-bottom: 0.2vh;
}

.search-bar{
  color: white;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: white;
  box-shadow:0px 1px 1px 1px #e5e5e5;
  

  height:3vh;
  margin-top: 1vh;
  margin-right: 1vw;
  margin-left: 1vw;
  outline:0;
  width:10vw; 
}

.search-icon {
  position: relative;
  height: 3vh;
  margin-left: -60px;
  z-index: 1;
  vertical-align: middle;
}

.search-padding{
  margin-left: 75vw;
}
